<!doctype html>
<html lang="{{ or .Params.locale site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
    <head>
        {{ partial "head.html" . }}
    </head>

    <body class="p-4 text-lg">
        <header
            class="max-w-4xl mx-auto mb-4"
            sm="flex flex-items-baseline justify-between"
        >
            {{ partial "header.html" . }}
        </header>

        <main class="mb-8">
            {{ block "main" . }}{{ end }}
        </main>

        <footer class="max-w-4xl mx-auto flex flex-col items-center">
            {{ partial "footer.html" . }}
        </footer>
    </body>
</html>
