{{ define "main" }}
    <article class="prose mx-auto">
        <h1>{{ .Title }}</h1>

        <p class="mb-12">
            {{ $date := or .PublishDate .Date }}
            <time id="publish_date" name="publish_date" datetime="{{ $date | time.Format "2006-01-02T15:04:05-07:00" }}">
                {{ $date | time.Format "02.01.2006" }}</time>,
            bearbeitet:
            <time id="edit_date" name="edit_date" datetime="{{ .Lastmod | time.Format "2006-01-02T15:04:05-07:00" }}">
                {{ .Lastmod | time.Format "02.01.2006 15:04" }}</time>,
            <a href="https://github.com/citizenalpha-project/website/commits/main/content/{{ .File.Path }}">Versions Historie</a>
            · {{ .ReadingTime }}min
        </p>

        {{ with .Fragments.Headings }}
            {{ $firstLevel := index . 0 }}
            {{ $numberOfHeadings := len $firstLevel.Headings }}

            {{ if gt $numberOfHeadings 2 }}
                <div class="not-prose toc bg-stone-200 rounded p-4 mb-12">
                    <strong class="text-6 inline-block mb-4">Inhalt</strong>

                    {{ $.TableOfContents }}
                </div>
            {{ end }}
        {{ end }}

        {{ $Content := .Content }}
        {{ $Content = replace $Content "footnotes" "footnotes not-prose" }}
        {{ $Content | safeHTML }}

        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </article>
{{ end }}
